header h1.title,
header h3.desc {
    text-align: center;
}
body {
    background-color: #B0D9B1;
    width: 100%;
    margin: auto;
}
a:link {
    color: #FFFF;
}
a:visited {
    color: #FFFF;
}
a:hover {
    color: rebeccapurple;
}
a:active {
    color: #C6B08C;
}
#navigation {}
p {
    font-size: 110%;
    color: black;
}
#contents {
    float: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #608F61;
    font-family: sans-serif;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}
li a:hover {
    background-color: #C6B08C;
}

.container {
    font-size: 68px;
    margin-top: 170px;
    margin-right: 180px;
    margin-left: 25px;
    color: #FFFF;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font: bold 40px Arial, sans-serif;
}

.custom-button{
    font-size: 24px;
    margin-top: 5px;
    margin-left: 20px;
    padding: 20px 25px;
    background-color: #608F61;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #FFFF;
}

.button {
    font-size: 24px;
    margin-top: 5px;
    margin-left: 20px;
    padding: 20px 25px;
    background-color: #C6B08C;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #FFFF;

}

.menu{
    margin-top: 15px;
    background-color: #FFFF;
    font-size: 50px;
    color: #608F61;
    font: bold 40px Arial, sans-serif;

}

.text-warna-hitam {
    margin-top: 50px;
    margin-left: 50px;
    color: black;
}

.card {
    margin-left: 70px;
    margin-top: 50px;
    border-radius: 15px;
    border: none;
}

.card-body{
    font-size: 20px;
    background-color: #EEE0C9;
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px; 
    border: none;
}

.footer {
    .footer {
        background: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url(../img/footer.jpg) center center no-repeat;
        background-size: auto;
        background-color: #FFFF;
    }
    
    .footer .btn.btn-social {
        margin-right: 5px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--light);
        border: 1px solid #FFFFFF;
        transition: .3s;
    }
    
    .footer .btn.btn-social:hover {
        color: var(--primary);
    }
    
    .footer .btn.btn-link {
        display: block;
        margin-bottom: 5px;
        padding: 0;
        text-align: left;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: normal;
        text-transform: capitalize;
        transition: .3s;
    }
    
    .footer .btn.btn-link::before {
        position: relative;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
    }
    
    .footer .btn.btn-link:hover {
        color: var(--primary);
        letter-spacing: 1px;
        box-shadow: none;
    }
    
    .footer .copyright {
        margin-top: 0px;
        padding: 25px;
        font-size: 25px;
        border-top: 1px solid rgba(256, 256, 256, .1);
    }
    
    .footer .copyright a {
        color: var(--light);
    }
    
    .footer .copyright a:hover {
        color: var(--primary);
    }
    
    .btn {
        padding: 12px 95px;
        font-size: 22px;
        border-radius: 7px;
    }
}